<footer class="iris page-footer deep-purple darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">My ToDos Chat</h5>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">User</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Todos</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Chat</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright deep-purple darken-4">
      <div class="container">
      My ToDos Chat
      <a class="grey-text text-lighten-4 right" href="#!">&copy; Surmount Soft</a>
      </div>
    </div>
  </footer>
  