.site-name {
    font-family: Lobster;
}

.nav-item :hover {
    font-weight: bold;
}

.cursor {
    cursor: pointer;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    padding-bottom: 0px;
    margin: 0px;
}