<nav class="navbar purple deep-purple darken-3">
  <a class="logo btn-floating pulse" [routerLink]="['/']">MyToDos</a>
  <ul class="nav navbar">
    <li ngbDropdown *ngIf="userService.loggedIn(); else anonymous" class="nav-item dropdown">
        <a ngbDropdownToggle id="dropdown01" data-toggle="dropdown"  
        aria-expanded="false">{{ userService.getLoggedInUser().email }}</a>
             <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link text-dark dropdown-item" [routerLink]="['/profile']">Profile</a>
              </li>
              <li *ngIf="userService.loggedIn()" [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link text-dark dropdown-item cursor" routerLink="/todos">Todos</a>
              </li>
              <li *ngIf="userService.loggedIn()" [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link text-dark dropdown-item cursor" routerLink="/chat">Chat</a>
              </li>
              <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link text-dark dropdown-item cursor" (click)="onLogoutClick()">Logout</a>
              </li>
        </div>                
  </li> 
  </ul>
</nav> 

