<nav class="navbar purple deep-purple darken-3">
  <a  [routerLink]="['/']">MyTodos Chat</a>
  <button class="waves-effect waves-light btn deep-purple darken-3" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" data-target="#navItems" aria-controls="navItems" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-icons">menu</span>
  </button>
   <div class="collapse navbar-collapse" [collapse]="!isCollapsed" id="navItems">
      <ul class="nav navbar-nav ml-auto">
          <!-- user section  -->
        <ng-template #anonymous>
            <li><a class="nav-link text-dark" [routerLink]="['/login']">Login</a></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/sign-up']">Sign Up</a>
                </li>
          </ng-template>
          <!-- user section  -->
         <!-- chat if user is logged in -->
          <li *ngIf="userService.loggedIn()" [routerLinkActive]="['active']" class="nav-item">
            <a class="nav-link text-dark dropdown-item cursor" routerLink="/chat">Chat</a>
        </li>
        <!-- chat if user is logged in -->
          <li ngbDropdown *ngIf="userService.loggedIn(); else anonymous" class="nav-item dropdown">
                <a  ngbDropdownToggle class="nav-link text-dark dropdown-toggle cursor" 
                id="dropdown01" data-toggle="dropdown" aria-haspopup="true" 
                aria-expanded="false">{{ userService.getLoggedInUser().email }}</a>
                
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                    <li [routerLinkActive]="['active']" class="nav-item">
                        <a class="nav-link text-dark dropdown-item" [routerLink]="['/profile']">Profile</a>
                    </li>
                    <li [routerLinkActive]="['active']" class="nav-item">
                        <a class="nav-link text-dark dropdown-item cursor" (click)="onLogoutClick()">Logout</a>
                    </li>
                </div>                
          </li>   
      </ul> 
    </div> 
</nav> 