
<div class="card text-center" style="margin: 20px;
padding: 40px;">
    <p class="lead">Chat for <b>My Todos</b></p>
    <hr>
    <ng-template #buttons>
        <a class="waves-effect waves-light btn" [routerLink]="['/login']">Login</a>
        <br>
        <a class="waves-effect waves-light btn" [routerLink]="['/sign-up']">Sign-up</a> 
    </ng-template>
    <div *ngIf="userService.loggedIn(); else buttons" class="container">
        <div class="chip">
            <img src="https://cdndata.bigfooty.com/avatars/l/179/179693.jpg" alt="{{ userService.getLoggedInUser().username }}">{{ userService.getLoggedInUser().username }}
        </div>
         <br>
         <br>   
        <button class="waves-effect waves-light btn deep-purple darken-3" routerLink="/todos">ToDos</button>&nbsp;&nbsp;&nbsp;<button class="waves-effect waves-light btn deep-purple darken-3" routerLink="/chat">Chat Now</button>
            <br>
            <br>
    </div>
</div>

